/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Parameters for full-size test
    input = 's3://biocore-data/test_sets/Test_full/4fileofFullTest.csv'

    genome         = 'GRCh37'
    pseudo_aligner = 'salmon'
    skip_deseq2_qc    = true
    skip_bbsplit       = true
    //gene_prefix          ='AM-MIDBLv00001'

}
// input only can 4 files half of official input

  // input = 's3://biocore-data/test_sets/Test_full/4fileofFullTest.csv'
  // input = 's3://biocore-data/test_sets/Test_full/8fileofFullTest.csv'

 //  input    = 's3://biocore-data/test_sets/reduced_trinity_zebrafish/seq2/Zebrafish_S3_fourfile_test.csv'
 //  genome         = 'GRZebraFish'


    //This is for  half test_full input
    // input          =  's3://mdibl-nextflow-work/dxu/Full_Test/output.csv'
    //input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_full.csv'
  //genome         = 'GRCh37'
   /*
    skip_qc                    = true
    skip_umi_extract           = true
    skip_trimming              = true
    skip_trimming              = true
    skip_deseq2_qc             = true
    */
