/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    input = "assets/samplesheet.csv"
    multiqc_title = "Zebrafish_Benchmark"
    fasta       = "s3://ngi-igenomes/igenomes/Danio_rerio/UCSC/danRer10/Sequence/WholeGenomeFasta/genome.fa"
    gtf         = "s3://ngi-igenomes/igenomes/Danio_rerio/UCSC/danRer10/Annotation/Genes/genes.gtf"

    save_reference = false
    save_new_reference = false
    pseudo_aligner = "salmon"
    remove_ribo_rna = true
    save_non_ribo_reads = true
    skip_deseq2_qc = true
    double_end_sample = false
    single_end_sample = true
    max_memory = "2024.GB"
    max_cpus = 512
    max_time = "2400.h"
    skip_bbsplit =  true
    bam_csi_index =  true
    onlyOneInputSample =  false
    gene_tx_prefix  = "DRERIO_M__TEST"

}
