/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    //Genome references
    fasta              = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genome.fasta"
    gtf                = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genes.gtf.gz"

    "input" = "assets/samplesheet.csv",
    "multiqc_title" = "Zebrafish_Benchmark_11-18-24",
    "fasta" = "s3://mdibl-reference/d.rerio/external/ensembl/release-110/Danio_rerio.GRCz11.dna.primary_assembly.fa.gz",
    "gtf" = "s3://mdibl-reference/d.rerio/external/ensembl/release-110/Danio_rerio.GRCz11.110.gtf.gz",

    save_reference = false,
    save_new_reference = false,
    pseudo_aligner = "salmon",
    remove_ribo_rna = true,
    save_non_ribo_reads = true,
    skip_deseq2_qc = true,
    double_end_sample = false,
    single_end_sample = true,
    max_memory = "2024.GB",
    max_cpus = 512,
    max_time = "2400.h",
    skip_bbsplit =  true,
    bam_csi_index =  true,
    onlyOneInputSample =  false,
    gene_tx_prefix  = "DRERIO_M__TEST"

}
