/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Zebrafish test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Parameters for full-size test
    input      = 's3://biocore-data/test_sets/Test_full/2fileofFullTest.csv'
    //s3://biocore-data/test_sets/Test_full/2fileofFullTest.csv
     input    = 's3://biocore-data/test_sets/reduced_trinity_zebrafish/seq2/Zebrafish_S3_fourfile_test.csv'
   genome         = 'GRZebraFish'
     pseudo_aligner = 'salmon'
    skip_deseq2_qc    = true
    skip_bbsplit      = true
}
